.about-customers {
    &__desc {
        font-size: 16px;
        line-height: 32px;
        color: $texts-color;
        margin-bottom: 24px;
        position: relative;

        &::before{
            content: "";
            width: 16px;
            height: 14px;
            position:absolute;
            background-image: url("/img/qoshtirnoq.svg");
            background-size: 16px 14px;
            background-repeat: no-repeat;
            left: -13%;
        }
    }

    &__name {
        margin: 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        color:$texts-color;
    }

    &__adrres {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #969bab;
        opacity: 0.8;
    }
}

@media screen and (max-width:992px){
    .customers__col{
        display: flex;
        flex-direction: column;
        align-items: center !important;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:768px){
    .customers__title{
        font-size: 40px;
        line-height: 50px;

        &::before{
            width: 100px;
            height: 100px;
            background-size: 100px 100px;
            left: -15%;
        }
    }
}

@media screen and (max-width:670px){
    .customers__title{
        font-size: 35px;
        line-height: 40px;

        &::before{
            width: 80px;
            height: 80px;
            background-size: 80px 80px;
            left: -12%;
        }
    }
}

@media screen and (max-width:576px){
    .customers__title{
        font-size: 25px;
        line-height: 30px;
        text-align: center;

        &::before{
            width: 60px;
            height: 60px;
            background-size: 60px 60px;
            left: -9%;
            top: -25px;
        }
    }

    .customers__desc{
        text-align: center;
    }
}

@media screen and (max-width:543px){
    .customers__title::before{
            display: none;
    }
}